.post-btn {
  cursor: pointer;
  justify-items: center;
  background-color: bisque;
  margin: 3px;
  border-radius: 13%;
  width: 85px;
  justify-self: center;
}

.post-btn:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.tag-box {
  width: 208px;
  height: 101px;
}

select {
  width: 208px;
  height: 19px;
}